
{% extends "base.html" %}

{% block title %}データ一覧{% endblock title %}

{% block extrahead %}
<style>
table {
  margin-top: 8px;
}
</style>
{% endblock %}

{% block content %}
    <h3 class="page-header">データ一覧</h3>
    <table class="table table-striped table-bordered table-autofilter sortable-theme-bootstrap" data-sortable>
      <thead>
        <tr>
          <th>datetime</th>
          <th>気温</th>
          <th>水分量</th>
          <th>テスト</th>
        </tr>
      </thead>
      <tbody>
        {% for i in dataset %}
        <tr>
          <td align="center">{{ i.datetime }}</td>
          <td align="center">{{ i.tempature }}</td>
          <td align="center">{{ i.moisture }}</td>
          <td align="center">{{ i.test }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock content %}
