
{% extends "base.html" %}

{% block title %}メインページ{% endblock title %}

{% block extrahead %}
<style>
h3 {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
}
.container {
  width: 1200px;
  }
table {
  margin-top: 8px;
}
body {
  background-color: mintcream;
}
.data_table_scr {
  height:480px;
  width:350px;
  overflow-y:scroll;
  background-color: #D8F3F0;
  border: 4px solid #ccc;
}
#threshold_select{
  margin-top: 10px;
  border: 4px solid #ccc;
  background-color: white;
}
.zu1 {
  height: 670px;
  width: 430px;
  border: 4px solid mistyrose;
  margin-left: 1px;
  margin-right: 1px;
  background-color: white;
}
.memo {
  height:300px;
  width:400px;
}
.Calendar {
  width: 367px;
  margin: auto;
}
#area1 {
  /* boxレイアウトの指定 */
  display: box;
  display: -webkit-box;
  display: -moz-box;
  /* 配置したボックスを左右中央寄せにする */
  box-pack: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  /*border: 1px solid #ccc;*/
  border-radius: 5px;
  margin-top: 50px;
}
#area2 {
  border: 4px solid #ccc;
  background-color: white;
  height: 670px;
}
th {
  width: 25%;
  padding: 6px;
  text-align: center;
  vertical-align: top;
  color: black;
  background-color: darkgray;
  border: 1px solid black;
}
td {
  width: 25%;
  padding: 6px;
  background-color: #fff;
  border: 1px solid #b9b9b9;
}
#table_area {
  /* boxレイアウトの指定 */
  display: box;
  display: -webkit-box;
  display: -moz-box;
  /* 配置したボックスを左右中央寄せにする */
  box-pack: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#chat-frame {
  min-width: 320px;
  max-width: 800px;
  margin: auto;
  padding: 1em 2em;
  background-color: #D8F3F0;
}
.chat-talk {
  overflow: hidden;
  margin: 0 0 1em 0;
  padding: 0;
}
.chat-talk span {
  display: block;
  margin: 0;
  padding: 0;
}
.chat-talk .talk-icon {
  float: left;
  width: auto;
}
.chat-talk .talk-content {
  position: relative;
  box-sizing: border-box;
  width: auto;
  min-height: 50px;
  border-radius: 10px;
  background-color: #fff;
  margin: 10px auto 0 10px;
  padding: 1em;
}
.chat-talk .talk-icon img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border: 2px solid #fff;
  border-radius: 50%;
}
.chat-talk .talk-content:before {
  position: absolute;
  top: 15px;
  left: -20px;
  display: block;
  width: 0;
  height: 0;
  content: '';
  border: 10px solid transparent;
  border-right-color: #FFFFFF;
}
.chat-talk.mytalk .talk-icon {
  float: right;
}
.chat-talk.mytalk .talk-content {
  margin: 10px 10px 0 auto;
  color: #000;
  background: #78FF6C;
}
.chat-talk.mytalk .talk-content:before {
  right: -20px;
  left: auto;
  border-color: transparent;
  border-left-color: #78FF6C;
}
#memo_write_button {
    font-size: 1.4em;
}
#link_list {
  /*border: 4px solid #ccc;*/
}
</style>
{% endblock %}

{% block content %}

<div id="area1">
  <div id="area3">
  <div class="data_table_scr" id="list">
    <div id="chat-frame">
      <p class="chat-talk mytalk">
        <span class="talk-content">
          {% for i in dataset %}
            {{ i.datetime.year }}年{{ i.datetime.month }}月{{ i.datetime.day }}日{{ i.datetime.hour }}時{{ i.datetime.minute }}分<br>
            気温：{{ i.temperature }}</br>
            水分量：{{ i.moisture }}</br>
            照度：{{ i.illuminance }}</br>
          {% endfor %}
        </span>
        <span class="talk-content">
        <!--<span class="talk-content" id="text">-->
          本日の水やり時刻は<br>
          {% for i in watertime %}
          {{i}}<br>
          {% endfor %}
          です。
        </span>
      </p>
    </div>
  </div>
  <form name="js">
  <input type="text" name="txtb" value="">
  <input id="input" type="button" value="送信" onclick="tbox1()">
  </form>
  <!-- <button id="btn">マイク</button> -->
  <div id="threshold_select">
    <p><font size="5px" color="blue">水分量閾値</font></p>
    <form name="threshold_form" action="Sample.html">
      <textarea id="threshold" name="threshold"></textarea><br>
      <a id="threshold_write_button" onclick="threshold_write()" class="btn btn-info btn-block">更新</a>
      <a id="water_control_button" onclick="water_control()" class="btn btn-info btn-block">水遣りスタート</a>
    </form>
  </div>
  </div>
  <svg class="zu1" id="svg1" width="400" height="450">
    <image id="zu1" x="0" y="0" width="100%" height="100%" opacity="1"></image>
  </svg>
  <div id="area2">
    <div id="memo_area" width="600" height="560">
      <p><font size="6px" color="blue">Memo</font></p>
    <form name="memo_form" action="Sample.html">
      <textarea id="memo" name="memo" rows="10" cols="56" wrap="soft" onfocus="if(this.value==this.defaultValue){this.value=''}" onblur="if(this.value==''){this.value=this.defaultValue}"></textarea><br>
      <a id="memo_write_button" onclick="memo_write()" class="btn btn-info btn-block">送信</a>
    </form>
    </div>
    <div class="Calendar">
      <div id="cal0" class="cal_wrapper">
        Calendar Loading
      </div>
    </div>
    <br>
    <div id="link_list">
      <p><font size="6px" color="blue">リンク</font></p>
      <a id="pict_list"></a>
      <a id="getdata"></a>
  </div>
  </div>
</div>

{% load staticfiles %}
<script type="text/javascript" charset="UTF-8" src="{% static 'js/cal.js' %}"></script>

<script type="text/javascript">
  d3.select("#zu1").attr("xlink:href","/site_media/"+"zu1.jpg");
  d3.select("#pict_list").attr({
    "class": "btn btn-info btn-sm btn-block",
    "href": "{% url 'AIoT:pict_list' %}",
  }).text("画像一覧");
  d3.select("#getdata").attr({
    "class": "btn btn-info btn-sm btn-block",
    "href": "{% url 'AIoT:getdata' %}",
  }).text("取得データ一覧");
  //memoをデータベースに転送
  function memo_write() {
    var memo_text = document.memo_form.memo.value;
    memo_text = memo_text.replace(/\r\n/g, '\n');
    var memo_lines = memo_text.split('\n');
    $.ajax({
      type: 'GET',
      url: make_url("memo") + "&memo=" + memo_lines,
      dataType: 'json',
    });
  }
  //閾値をデータベースに転送
  function threshold_write() {
    var threshold_text = document.threshold_form.threshold.value;
    if(threshold_text.match(/[^0-9]/g)||(parseInt(threshold_text, 10) + "" != threshold_text)){
      console.log("miss");
      window.alert("半角数字で入力してください");
    } else{
      $.ajax({
        type: 'GET',
        url: make_url("threshold") + "?threshold=" + threshold_text,
        dataType: 'json',
      });
    }
  }
  //水やりの命令を管理する関数
  function water_control() {
    flag_water = !flag_water;
    if (flag_water) {
      $.ajax({
        type: 'GET',
        url: make_url("water") + "?water=ON",
        dataType: 'json',
      });
      d3.select("#water_control_button").text("水遣りストップ");
      water = setTimeout(water_control, 10000);
    } else{
      $.ajax({
        type: 'GET',
        url: make_url("water") + "?water=OFF",
        dataType: 'json',
      });
      d3.select("#water_control_button").text("水遣りスタート");
      clearTimeout(water);
    }
  }
  //データベースのメモ・閾値を表示
  function db_get() {
    var memo_text = "";
    var cnt = 0;
    {% for i in memo_data %}
    if (cnt == 0) {
      memo_text = memo_text + "{{i}}";
    }
    else {
       memo_text = memo_text + "\n" + "{{i}}";
    }
    cnt++
    {% endfor %}
    document.memo_form.memo.value = memo_text;
    document.threshold_form.threshold.value = "{{threshold}}";
  }

  //url作成用関数
function make_url(str) {
  var year = "{{datetime.year}}";
  var month = ("0"+"{{datetime.month}}").slice(-2);
  var day = ("0"+"{{datetime.day}}").slice(-2);
  if (str == "memo"){
    var url = "{% url 'AIoT:memo_json' %}" + "?datetime=" + year + month + day;
  } else if (str == "threshold") {
    var url = "{% url 'AIoT:threshold_json' %}";
  } else if (str == "water") {
    var url = "{% url 'AIoT:water_json' %}";
  }
  return url;
}

db_get();
var water;
var flag_water = false;


//ここから雑談対話
var apiUrl = 'https://api.apigw.smt.docomo.ne.jp/dialogue/v1/dialogue?APIKEY=';
var apiKey = '4243356f65594f4435517944436f43345a42515767785831573876323459627a5938487839776c4d725338';
var api = apiUrl + apiKey;
//var text = document.getElementById('text').textContent;
var l = 0;
var m = 0;
var n = 0;

var apiJson1 = {

    'utt' : 'asdfg' // ←ここに雑話キーワードを入れる

}

//ここから音声合成
function OnseiGousei(onsei) {
  var target = document.getElementById("chat-frame");
  var newTag = document.createElement("span");
  newTag.innerHTML = '<p class="chat-talk mytalk"><span class="talk-content" id="content'+l+'"></span></p>';
  target.appendChild(newTag);
  eval("content"+l+".textContent = onsei");
  l = l + 1;
  $(function(){
    $(".data_table_scr").scrollTop($("#list")[0].scrollHeight);
  });
  xhr = new XMLHttpRequest();
  xhr.open('POST', 'https://api.apigw.smt.docomo.ne.jp/voiceText/v1/textToSpeech?APIKEY=4243356f65594f4435517944436f43345a42515767785831573876323459627a5938487839776c4d725338', true);
  xhr.responseType = 'arraybuffer'
  xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded")
  var datax = "text="+onsei+"&speaker=hikari&emotion=happiness&emotion_level=2&format=ogg";
  xhr.onload = function (e) {
    if( this.status == 200){
      view = new Uint8Array(this.response);
      blob = new Blob([view], { "type" : "audio/wav" });
      URL = window.URL || window.webkitURL;
      audio = new Audio(URL.createObjectURL(blob));
      audio.play();
    }
  };
  data1 = datax;
  xhr.send(data1);
};

// API送受信関数
function callBot(apiJson){
    $.ajax({
        type : 'post',
        url : api,
        data : JSON.stringify(apiJson),
        contentType: 'application/JSON',
        dataType : 'JSON',
        scriptCharset: 'utf-8'
    })
    .done(function(data){
        console.log(data.yomi); // ←いろんな雑話が返ってくる
        OnseiGousei(data.yomi);
        tmp_text = data.context;
      })
    .fail(function(data){
    console.log(data.responseText); // ←エラー時の処理
  })
}

repetition = setTimeout("callBot(apiJson1)", 70000);
function interval1(){
  repetition = setTimeout("callBot(apiJson1)", 70000);
}
function interval2(){
    clearTimeout(repetition);
}
var input = document.getElementById("input");
input.addEventListener("click", interval2, false);
input.addEventListener("click", interval1, false);

function OnseiHyouji(value){
  var str1 = value;
  var target = document.getElementById("chat-frame");
  var newTag = document.createElement("span");
  newTag.innerHTML = '<p class="chat-talk"><span class="talk-content" id="contenta'+m+'"></span></p>';
  target.appendChild(newTag);
  eval("contenta"+m+".textContent = str1");
  m = m + 1;
}

//テキストボックスの文字を取得する
function tbox1(){
  var str1 = document.js.txtb.value;
  console.log(str1);
  getTextContents(String(str1));
}

//音声認識用の対話機能
function tbox2(value){
  var str1 = value;
  var str2 = tmp_text;
  
  var target = document.getElementById("chat-frame");
  var newTag = document.createElement("span");
  newTag.innerHTML = '<p class="chat-talk"><span class="talk-content" id="contentb'+n+'"></span></p>';
  target.appendChild(newTag);
  eval("contentb"+n+".textContent = str1");
  n = n + 1;

  var apiJson3 = {

    'utt' : String(str1), // ←ここに雑話キーワードを入れる
    'context' : String(str2),
    "mode": "dialog"
  }

  callBot(apiJson3);
}
//履歴を保存する変数
var tmp_text = "";
var i = 0;
function Speech_Rec(){
  //ここから音声認識
  //var btn = document.getElementById('btn');
  //var content1 = document.getElementById('content');
  var speech = new webkitSpeechRecognition(); //音声認識APIの使用

  var j = 0;
  var speech_status = 0;
  speech.start();
  speech.continuous = true;
  speech.interimResults = true;
  speech.lang = "ja"; //言語を日本語に設定
  /*btn.addEventListener( 'click' , function() {
      // ➀ボタンをクリックした時の処理
      speech.start(); // 音声認識をスタート
  } );*/
  speech.onerror = function(){
    if(speech_status == 0)
      Speech_Rec();
  }
  speech.onsoundend = function(){
    Speech_Rec();
  }
  speech.onresult = function(e){
      // ➁音声認識した結果を得る処理
      var results = e.results;
      var text1;
      for (var j = e.resultIndex; j <results.length; j++){
        if(results[j].isFinal){
          text1 = results[j][0].transcript;
        }
        else{
          text1 = "[認識中…]" + results[j][0].transcript;
          speech_status = 1;
        }
      }
      //var text1 = e.results[0][0].transcript; // 認識された「言葉」を、変数「text」に格納
      console.log(text1)
      switch(text1) {
        case "聞いて":
          i = 1;
          console.log(i)
          break;
        case "さよなら":
          i = 0;
          console.log(i)
          break;
        default:
          if(i == 1) {
            getTextContents(text1);
          }
          Speech_Rec();
    }
  }
}
function getTextContents(text1) {
    if(text1.match(/水/)){
      water_control();
      console.log("water_control");
      OnseiHyouji(text1);
      OnseiGousei("ごくごく．．．ちょうど水がほしかったんだ！ありがとう！！");
    }
    else{
      tbox2(text1);
    }
}
Speech_Rec();
</script>

{% endblock content %}
