
{% extends "base.html" %}

{% block title %}{{datetime.month}}月{{datetime.day}}日{% endblock title %}

{% block extrahead %}
<style>
/* 説明窓(div要素)の設定 */
div.tooltip {
  position: absolute;
  text-align: center;
  width: 30px;
  height: 12px;
  padding: 8px;
  font: 15px sans-serif;
  font-weight: bold; /*太字*/
  color: black; /*文字の色*/
  background: red;
  border-radius: 8px;
  pointer-events: none;
}

#header_area {
  height: 60px;
  display: block;
}
#header {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  /*margin-left: 25%;*/
  /*margin-right: 25%;*/
  display: inline;
}
.left {
  float: left;
  display: inline;
  margin-top: 20px;
}
.right {
  float: right;
  display: inline;
  margin-top: 20px;
}
.container{
  /*width: 1600px;*/
  margin-top: 20px;
  background-color: white;
  border-width: 4px;
  border-style: ridge;
  border-color: black;
  /*display: inline-block;*/
  }
#content_area {
  display: block;
  height: 100%;
  overflow: hidden;
}
table {
  margin-top: 8px;
}
th{
/*width: 25%;*/
/*height: 30%;*/
/*padding: 6px;*/
text-align: center;
/*vertical-align: top;*/
color: black;
/*background-color: darkgray;*/
/*border: 1px solid black;*/
/*font-size: 18px;*/
}
.tmp_table, .moi_table, .ill_table {
  /*width: 100%;*/
  /*width: 700px;*/
  /*border-collapse: separate;*/
  /*float: right;*/
  /*display: inline;*/
}
.tmp_table th {
  background-color: pink;
  border: 2px solid red;
}
.moi_table th {
  background-color: aliceblue;
  border: 2px solid blue;
}
.ill_table th {
  background-color: lightgreen;
  border: 2px solid forestgreen;
}
.tick line{
    opacity: 0.3;
    stroke: black;
  }
#water_axis .tick line{
    opacity: 1;
    stroke: skyblue;
    stroke-width:5;
  }
#graph_area {
  float:right;
  /*display: inline-block;*/
  /*position: relative;*/
  /*clear: right;*/
}
#line_graph {
  background-color: white;
  border: 3px solid;
  /*border-color: red;*/
}
#picture {
  float: left;
  /*display: block;*/
  /*border: 3px solid black;*/
  /*background-color: black;*/
  /*position: absolute;*/
  /*clear: left;*/
}
body{
    background-color: mintcream;
  }
#memo_area {
  float: left;
  /*display: block;*/
  clear: both;
}
#table_area {
  float: right;
  /*display: inline;*/
}
#footer_area {
  display: block;
  margin-bottom: 5px;
  margin-top: 10px;
  /*position: fixed;*/
}
p.tabs
  {
    margin: 0px;
    padding: 0px;
    /*position: absolute;*/
  }
  p.tabs a
  {
    display: block;
    width: 8em;
    float: left;
    margin: 0px 3px 0px 0px;
    padding: 8px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    cursor: pointer;
  }
  p.tabs a.select_tab
  {
    color: black;
    padding: 8px;
  }
  p.tabs a.waiting_tab
  {
    color: black;
    opacity: 0.5;
  }
  p.tabs a:hover
  {
    color: white;
  }
  #temperature_tab {
    background-color: red;
    font-size: 18px;
    font-weight: bold;
  }
  #moisture_tab {
    background-color: blue;
    font-size: 18px;
    font-weight: bold;
  }
  #illuminance_tab {
    background-color: forestgreen;
    font-size: 18px;
    font-weight: bold;
  }
  #memo_write_button {
    font-size: 1.4em;
    /*padding: 2px 170px;*/
  }
  .left {
    float: left;
    display: inline-block;
  }
  .right {
    float: right;
    display: inline-block;
  }
/*#memo_area form{
  width: 50%;
}*/
</style>
<script type="text/javascript">
if (window.innerWidth - window.innerHeight > 200){
  var window_width = window.innerWidth-150;
} else {
  var window_width = 1000;
}
$(function() {
        $(".container").css("width", window_width+"px");
      });
$(function() {
        $("#content_area").css("width", window_width-40+"px");
      });
$(function() {
        $(".tmp_table").css("width", (window_width-50)*0.6+"px");
      });
$(function() {
        $(".moi_table").css("width", (window_width-50)*0.6+"px");
      });
$(function() {
        $(".ill_table").css("width", (window_width-50)*0.6+"px");
      });
</script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
{% endblock %}

{% block content %}
    <div id="header_area">
    <div class="left" y="30"></div>
    <p class="page-header" id="header" align="center"></p>
    <div class="right" y="30"></div></div><br>
    <div id="content_area">
    <svg id="picture">
    <image id="zu1" x="0" y="0" width="320px" height="240px" opacity="1"></image>
    </svg>
    <div id="graph_area">
    <div class="tabbox" id="tabbox"></div>
    <svg id="line_graph" x="1024" y="560">
    </svg></div>
    <div id="memo_area">
      <p><font size="6px" color="blue">Memo</font></p>
      <form id="memo_form" name="memo_form" action="Sample.html">
        <textarea id="memo" class="control-form" name="memo" rows="5" cols="58" wrap="soft" onfocus="if(this.value==this.defaultValue){this.value=''}" onblur="if(this.value==''){this.value=this.defaultValue}"></textarea><br>
        <a id="memo_write_button" onclick="memo_write()" class="btn btn-info btn-block">送信</a>
      </form>
    </div>
    <div id="table_area">
      <p><font size="6px" color="blue">データまとめ</font></p>
    </div>
    </div>
    <div id="footer_area"></div>
    <div id="tooltip_div"></div>
    <script type="text/javascript">
    d3.select("#header").text("{{datetime.year}}年 {{datetime.month}}月 {{datetime.day}}日");

//日付に応じた画像を表示
if ("{{picture}}" == "True"){
  d3.select("#zu1").attr("xlink:href","/site_media/"+"{{pic_dt}}.jpg");
} else {
  d3.select("#zu1").attr("xlink:href","/site_media/"+"no_data.jpg");
}

//memoをデータベースに転送
function memo_write() {
  var memo_text = document.memo_form.memo.value;
  memo_text = memo_text.replace(/\r\n/g, '\n');
  var memo_lines = memo_text.split('\n');
  $.ajax({
          type: 'GET',
          url: make_url("memo") + "&memo=" + memo_lines,
          dataType: 'json',
        });
}

//データベースのメモを表示
function memo_get() {
  var memo_text = "";
  var cnt = 0;
  {% for i in memo_data %}
  if (cnt == 0) {
    memo_text = memo_text + "{{i}}";
  }
  else {
    memo_text = memo_text + "\n" + "{{i}}";
  }
  cnt++
  {% endfor %}
  document.memo_form.memo.value = memo_text;
}

//url作成用関数
function make_url(str) {
  var year = "{{datetime.year}}";
  var month = ("0"+"{{datetime.month}}").slice(-2);
  var day = ("0"+"{{datetime.day}}").slice(-2);
  if (str == "memo"){
    var url = "{% url 'AIoT:memo_json' %}" + "?datetime=" + year + month + day;
  }
  return url;
}

//折れ線グラフ作成用関数
function make_linegraph(target) {
    //共通部分
    var margin = {top: 20, right: 20, bottom: 30, left: 45},
        width = (window_width-40)*0.65 - (margin.left + margin.right),
        height = (window_width-40)*0.5*2/3-30 - (margin.top + margin.bottom);
    var svg = d3.select("#line_graph")
            .attr({
              width : width + (margin.left + margin.right),
              height : height + (margin.top + margin.bottom)})
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
    //データがある場合の挙動
    if (data_len != 0) {
      var xScale = d3.time.scale()
              .domain([parameter_data[0]["datetime"], parameter_data[data_len-1]["datetime"]])
              .range([0, width]);
      var xAxis = d3.svg.axis()
              .scale(xScale)
              .orient("bottom")
              .tickFormat(d3.time.format('%_H:%M'))
              .innerTickSize(-height)  // 目盛線の長さ（内側）
              .outerTickSize(2)
              .tickPadding(8); // 目盛線の長さ（外側）
      if ({{datetime_diff}} <= 10800){
        xAxis.ticks(d3.time.minute, 10)
      } else if ({{datetime_diff}} > 10800 && {{datetime_diff}} <= 36000) {
        xAxis.ticks(d3.time.minute, 30)
      } else if ({{datetime_diff}} > 36000 && {{datetime_diff}} <= 72000) {
        xAxis.ticks(d3.time.minute, 60)
      } else {
        xAxis.ticks(d3.time.hour, 2)
      }

      //選択パラメータにより変化
      if (target == "temperature") {
        var yScale = d3.scale.linear().domain([0,40]).range([height, 0]);
        var yAxis = d3.svg.axis().scale(yScale).orient("left").ticks(8).innerTickSize(-width).outerTickSize(2).tickPadding(8);
        var line = d3.svg.line().x(function(d) { return xScale(d.datetime)}).y(function(d) { return yScale(d.temperature)});
        var line_color = "red";
      } else if (target == "moisture") {
        var yScale = d3.scale.linear().domain([0,moi_axis]).range([height, 0]);
        var yAxis = d3.svg.axis().scale(yScale).orient("left").ticks(10).innerTickSize(-width).outerTickSize(2).tickPadding(8);
        var line = d3.svg.line().x(function(d) { return xScale(d.datetime)}).y(function(d) { return yScale(d.moisture)});
        var line_color = "blue";
      } else if (target == "illuminance") {
        var yScale = d3.scale.linear().domain([0,ill_axis]).range([height, 0]);
        var yAxis = d3.svg.axis().scale(yScale).orient("left").ticks(10).innerTickSize(-width).outerTickSize(2).tickPadding(8);
        var line = d3.svg.line().x(function(d) { return xScale(d.datetime)}).y(function(d) { return yScale(d.illuminance)});
        var line_color = "forestgreen";
      }
      document.getElementById("line_graph").style.borderColor = line_color;

      svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);
      svg.append("g")
      .attr("class", "y axis")
      .call(yAxis);

      if (watertime.length != 0) {
        var water_axis =svg.append("g")
        .attr("class", "w axis")
        .attr("id","water_axis")
        .attr("transform", "translate(0," + height + ")");
        for (var i = 0; i < watertime.length; i++){
          watertime[i].scale = xScale(watertime[i].datetime);
        }
        var tmp_water = water_axis.selectAll("g.waxis").data(watertime).enter().append("g")
        .attr({
          "class":"tick",
          "transform":function(d){return "translate(" + d.scale + ",0)"},
        }).style("opacity" ,function(d){
          if(d.scale >= 0 && d.scale <= width){
            return 1;
          } else {
            return 0;
          }
        });

        tmp_water.append("line").attr({
          "y2":"-"+height,
          "x2":"0",
          "stroke":"black"
        })
        .on( "mouseover", function(d){
          div.transition().duration(300)
          .style("opacity",1)
          .style("background","skyblue")
          .style("height", "35px")
          .style("width", "100px")
          .style("left", (d3.event.pageX + 20) + "px")
          .style("top", (d3.event.pageY + 20) + "px")
          div.text(d.str).attr("stroke","black");
        })
        // マウスがバーから離れたら説明文をけす
        .on( "mouseout", function(d){
          div.transition().duration(300)
          .style("opacity",0)
        });
      }

      svg.append("path")
      .datum(parameter_data)
      .attr("class", "line")
      .attr("d", line)
      .attr("stroke", line_color)
      .attr("stroke-width", "4px")
      .attr("fill", "none");
    }
    //データがない場合の挙動
    else {
      d3.select("#line_graph")
      .append("image")
      .attr({
        "id" : "no_data",
        "x":"0",
        "y":"0",
        "width":"100%",
        "height":"100%",
        "opacity":"1",
      })
      .attr("xlink:href","/site_media/"+"no_data.jpg");
    }
}

//グラフのパラメーターを選択
function select_para(select_para){
  var before_parameter = document.getElementById(parameter+"_tab");
  before_parameter.className = 'waiting_tab';
  parameter = select_para;
  //変更後のparameterのタブを選択状態に変更
  var after_parameter = document.getElementById(parameter+"_tab");
  after_parameter.className = 'select_tab';
  document.getElementById("line_graph").children[0].remove();
  make_linegraph(parameter);
}
var parameter = "temperature";
var parameter_list= ["temperature","moisture","illuminance"];
var tab = d3.select("#tabbox").append("p").attr("class", "tabs");
tab.selectAll("p.tab")
.data(parameter_list)
.enter()
.append("a")
.text(function(d){
  if (d == "temperature") {
    return "温度";
  } else if (d == "moisture") {
    return "水分量";
  } else if (d == "illuminance") {
    return "照度";
  }
})
.attr("onclick",function(d){return "select_para('"+d+"')"})
.attr("id", function(d){return d + "_tab"})
.attr("class", function(d){
  if(parameter == d){
    return "select_tab"
  } else{
    return "waiting_tab"
  }
})

//データまとめの表作成用関数
function set_data() {
  //変数の初期化
  var cnt = 0;
  var ave_tmp = 0,ave_moi = 0,ave_ill = 0;            //平均値用
  var max_tmp = 0,max_moi = 0,max_ill = 0;            //最大値用
  var min_tmp = 9999,min_moi = 9999,min_ill = 9999;   //最小値用
  {% for i in dataset %}
  var month = {{ i.datetime.month }} - 1;
  if(isNaN("{{i.temperature}}")){
    var temperature = 0;
  } else {
    var temperature = {{i.temperature}};
  }
  parameter_data.push({temperature:temperature,moisture:{{i.moisture}},illuminance:{{i.illuminance}},datetime:new Date("{{i.datetime.year}}",month,"{{i.datetime.day}}","{{i.datetime.hour}}","{{i.datetime.minute}}")});
  ave_tmp = ave_tmp + temperature;
  ave_moi = ave_moi + {{ i.moisture }};
  ave_ill = ave_ill + {{ i.illuminance }};
  if (temperature > max_tmp){
    max_tmp = temperature
  }
  if ({{i.moisture}} > max_moi){
    max_moi = {{i.moisture}}
  }
  if ({{i.illuminance}} > max_ill){
    max_ill = {{i.illuminance}}
  }
  if (temperature < min_tmp){
    min_tmp = temperature
  }
  if ({{i.moisture}} < min_moi){
    min_moi = {{i.moisture}}
  }
  if ({{i.illuminance}} < min_ill){
    min_ill = {{i.illuminance}}
  }
  cnt++;
  {% endfor %}
  ave_tmp = ave_tmp/cnt;
  ave_moi = ave_moi/cnt;
  ave_ill = ave_ill/cnt;
  if (data_len == 0){
    ave_tmp = ave_moi = ave_ill = max_tmp = max_moi = max_ill = min_tmp = min_moi = min_ill = "null";
    var t_body_list = [max_tmp,min_tmp,ave_tmp];
    var m_body_list = [max_moi,min_moi,ave_moi];
    var i_body_list = [max_ill,min_ill,ave_ill];
  } else{
    var t_body_list = [floatnum(max_tmp),floatnum(min_tmp),floatnum(ave_tmp)];
    var m_body_list = [floatnum(max_moi),floatnum(min_moi),floatnum(ave_moi)];
    var i_body_list = [floatnum(max_ill),floatnum(min_ill),floatnum(ave_ill)];
    if (max_moi >= 1) {
      moi_axis = Math.pow(10, String(max_moi).length);
    } else {
      moi_axis = 10;
    }
    if (max_ill >= 1) {
      ill_axis = Math.pow(10, String(max_ill).length);
    } else {
      ill_axis = 10;
    }
  }
  make_table(t_body_list,m_body_list,i_body_list);
}

//表作成用関数
function make_table(t_body_list,m_body_list,i_body_list) {
  var t_thead_list = ["最大温度","最小温度","平均温度"];
  var m_thead_list = ["最大水分量","最小水分量","平均水分量"];
  var i_thead_list = ["最大照度","最小照度","平均照度"];
  var t_table = d3.select("#table_area").append("table").attr("class", "tmp_table");
  var m_table = d3.select("#table_area").append("table").attr("class", "moi_table");
  var i_table = d3.select("#table_area").append("table").attr("class", "ill_table");
  var t_thead = t_table.append("thead");
  var m_thead = m_table.append("thead");
  var i_thead = i_table.append("thead");
  var t_tbody = t_table.append("tbody");
  var m_tbody = m_table.append("tbody");
  var i_tbody = i_table.append("tbody");
  t_thead.selectAll("t_thead").data(t_thead_list).enter().append("th").text(function(d){return d});
  m_thead.selectAll("m_thead").data(m_thead_list).enter().append("th").text(function(d){return d});
  i_thead.selectAll("i_thead").data(i_thead_list).enter().append("th").text(function(d){return d});
  t_tbody.selectAll("t_body").data(t_body_list).enter().append("th").text(function(d){return d});
  m_tbody.selectAll("m_body").data(m_body_list).enter().append("th").text(function(d){return d});
  i_tbody.selectAll("i_body").data(i_body_list).enter().append("th").text(function(d){return d});
}

//小数点1位になるように四捨五入する関数
function floatnum(number) {
  var _pow = Math.pow(10,1);
  return Math.round(number*_pow)/_pow;
}

//ページ左右に日付変更用のリンクを作成
function make_link() {
  var dt = new Date({{datetime.year}},{{datetime.month}}-1,{{datetime.day}});
  var prev_dt = moment(dt).subtract(1,"days").format("YYYYMMDD");
  var next_dt = moment(dt).add(1,"days").format("YYYYMMDD");
  var prev_we = moment(dt).subtract(1,"week").format("YYYYMMDD");
  var next_we = moment(dt).add(1,"week").format("YYYYMMDD");
  d3.select(".right").append("a").attr({
    "id": "back_main",
    "class": "btn btn-default btn-sm",
    "href": "{% url 'AIoT:datalist' %}",
  }).text("メインページ");
  d3.select(".right").append("a").attr({
    "id": "prev_day",
    "class": "btn btn-info btn-sm",
    "href": "{% url 'AIoT:detail' %}" + "?datetime=" + prev_dt,
  }).text("< 前日");
  d3.select(".right").append("a").attr({
    "id": "next_day",
    "class": "btn btn-info btn-sm",
    "href": "{% url 'AIoT:detail' %}" + "?datetime=" + next_dt,
  }).text("翌日 >");
}

//画面に応じた描画に変更
function resize(){
  d3.select("#picture").attr({
    "width": (window_width-40)*0.3+"px",
    "height": (window_width-40)*0.5*2/3+"px",
  });
  d3.select("#memo").style("width",(window_width-40)*0.35+"px");
}

// データ
var parameter_data = [];
var moi_axis = 1000;
var ill_axis = 1000;
// マウスオーバーすると出てくる説明文(div要素)
var div = d3.select("#tooltip_div")
.attr("class","tooltip")
.style("width", "40px" )
.style("height", "35px")
.style("opacity",0);
//水遣り時刻
var watertime = [];
{% for i in watertime %}
var month = {{ i.datetime.month }} - 1;
watertime.push({datetime:new Date("{{i.datetime.year}}",month,"{{i.datetime.day}}","{{i.datetime.hour}}","{{i.datetime.minute}}"),str:"{{i.datetime.hour}}:{{i.datetime.minute}}"})
{% endfor %}
//画面の表示サイズを確認
data_len = {{data_len}};
set_data();
if(window.innerWidth - window.innerHeight > 200){
  var window_width = window.innerWidth-150;
} else{
  var window_width = 1000;
}
resize();
make_linegraph("temperature");
memo_get();
make_link();
</script>
{% endblock content %}
