
{% extends "base.html" %}

{% block title %}データ一覧{% endblock title %}

{% block extrahead %}
<style>
h3 {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
}
/*.container{
  width: 1460px;
  }*/
table {
  margin-top: 8px;
}
th{
width: 25%;
padding: 6px;
text-align: center;
vertical-align: top;
color: black;
background-color: darkgray;
border: 1px solid black;
}
td{
width: 25%;
padding: 6px;
background-color: #fff;
border: 1px solid #b9b9b9;
}
.ave_table, .rec_ave_table, .max_table, .min_table {
  width: 100%;
  border-collapse: separate;
  /*float: right;*/
  /*display: inline;*/
}
.ave_table th {
  background-color: yellow;
  border: 2px solid orange;
}
.rec_ave_table th {
  background-color: lime;
  border: 2px solid green;
}
.max_table th {
  background-color: pink;
  border: 2px solid red;
}
.min_table th {
  background-color: aliceblue;
  border: 2px solid blue;
}
.tick line{
    opacity: 0.3;
    stroke: black;
  }
#graph_erea {
  float:right;
  display: inline-block;
  position: relative;
  background-color: white;
  border: 1px solid black;
}
#picture {
  float: left;
  display: inline-block;
  border: 1px solid green;
  background-color: white;
}
body{
    background-color: rgba(90,250,80,0.3);
  }
#memo_area {
  float: left;
  display: block;
}
#table_area {
  float: right;
  display: inline;
}
</style>
{% endblock %}

{% block content %}
    <h3 class="page-header">詳細ページ</h3>
    <svg id="picture" width="400" height="350">
    <image id="zu1" x="0" y="0" width="100%" height="100%" opacity="1"></image>
    </svg>
    <div id="graph_erea" x="600" y="560">
    <svg id="line_graph" x="1024" y="560"></svg></div>
    <div id="memo_area" x="600" y="560">
      <p>メモ用の場所</p>
    </div>
    <script type="text/javascript">
    d3.select("#zu1").attr("xlink:href","/site_media/"+"zu1.jpg");
    function drawLine(id, datasets) {
    // コンテナ
    var margin = {top: 20, right: 20, bottom: 30, left: 40},
        width = 700 - (margin.left + margin.right),
        height = 400 - (margin.top + margin.bottom);
    var svg = d3.select(id)
            .attr({
                width : width + (margin.left + margin.right),
                height : height + (margin.top + margin.bottom)
            })
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
    // スケール
    var xScale = d3.time.scale()
            .domain([datasets[0]["datetime"], datasets[data_len-1]["datetime"]])
            // .domain([0, 1])
            .range([0, width]);
    var yScale = d3.scale.linear()
            .domain([0, 1])
            .range([height, 0]);
    // 軸
    var xAxis = d3.svg.axis()
            .scale(xScale)
            .orient("bottom")
            .ticks(d3.time.minute, 30)
            .tickFormat(d3.time.format('%_H:%M'))
            .innerTickSize(-height)  // 目盛線の長さ（内側）
            .outerTickSize(2)
            .tickPadding(8); // 目盛線の長さ（外側）
    var yAxis = d3.svg.axis()
            .scale(yScale)
            .orient("left")
            .innerTickSize(-width)  // 目盛線の長さ（内側）
            .outerTickSize(2)
            .tickPadding(8); // 目盛線の長さ（外側）;
    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")") // ←x軸を下側に移動
        .call(xAxis);
    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis);
    // 描画
    var line = d3.svg.line()
            .x(function(d){ return xScale(d.datetime); })
            .y(function(d){
              if (i == 0) {
                return yScale(d.temperature);
              } else if (i == 1) {
                return  yScale(d.moisture);
              } else if (i == 2) {
                return  yScale(d.illuminance);
              }
            });
    var colorArr = ['red','blue','yellow'];
    for(var i = 0; i < 3; i++) {
        svg.append("path")
            .datum(datasets)
            .attr("class", "line")
            .attr("d", line)
            .attr("stroke", colorArr[i])
            .attr("stroke-width", "2px")
            .attr("fill", "none");
    }
}

// データ
var parameter = [];
    var ave_tmp = 0;
    var ave_moi = 0;
    var cnt = 0;
    var recently_cnt = 0;
    var rec_ave_tmp = 0;
    var rec_ave_moi = 0;
    var max_tmp = 0;
    var max_moi = 0;
    var min_tmp = 9999;
    var min_moi = 9999;
    recently_cnt = {{data_len}} - 10;
    data_len = {{data_len}};
    {% for i in dataset %}
    var month = {{i.datetime.month}} - 1;
    parameter.push({temperature:{{i.temperature}},moisture:{{i.moisture}},illuminance:{{i.illuminance}},datetime:new Date("{{i.datetime.year}}",month,"{{i.datetime.day}}","{{i.datetime.hour}}","{{i.datetime.minute}}")});
    ave_tmp = ave_tmp + {{ i.temperature }};
    ave_moi = ave_moi + {{ i.moisture }};
    if ({{i.temperature}} > max_tmp){
      max_tmp = {{i.temperature}}
    }
    if ({{i.moisture}} > max_moi){
      max_moi = {{i.moisture}}
    }
    if ({{i.temperature}} < min_tmp){
      min_tmp = {{i.temperature}}
    }
    if ({{i.temperature}} < min_moi){
      min_moi = {{i.moisture}}
    }
    if (cnt >= recently_cnt){
      rec_ave_tmp = rec_ave_tmp + {{ i.temperature }};
      rec_ave_moi = rec_ave_moi + {{ i.moisture }};
    }
    cnt = cnt + 1;
    {% endfor %}
    ave_tmp = ave_tmp/cnt;
    ave_moi = ave_moi/cnt;
    rec_ave_tmp = rec_ave_tmp/10;
    rec_ave_moi = rec_ave_moi/10;
    drawLine("#line_graph", parameter);
    </script>
    <div id="table_area" x="1024" y="560">
    <table class="ave_table">
      <thead>
        <th>平均気温(全体)</th>
        <th>平均水分量(全体)</th>
      </thead>
      <tbody>
        <tr>
          <td align="center"><script>document.write(ave_tmp);</script></td>
          <td align="center"><script>document.write(ave_moi);</script></td>
        </tr>
      </tbody>
    </table>
    <table class="rec_ave_table">
      <thead>
        <th>平均気温(直近10件)</th>
        <th>平均水分量(直近10件)</th>
      </thead>
      <tbody>
        <tr>
          <td align="center"><script>document.write(rec_ave_tmp);</script></td>
          <td align="center"><script>document.write(rec_ave_moi);</script></td>
        </tr>
      </tbody>
    </table>
    <table class="max_table">
      <thead>
        <th>最大気温</th>
        <th>最大水分量</th>
      </thead>
      <tbody>
        <tr>
          <td align="center"><script>document.write(max_tmp);</script></td>
          <td align="center"><script>document.write(max_moi);</script></td>
        </tr>
      </tbody>
    </table>
    <table class="min_table">
      <thead>
        <th>最小気温</th>
        <th>最小水分量</th>
      </thead>
      <tbody>
        <tr>
          <td align="center"><script>document.write(min_tmp);</script></td>
          <td align="center"><script>document.write(min_moi);</script></td>
        </tr>
      </tbody>
    </table>
    </div>

{% endblock content %}
