
{% extends "base.html" %}

{% block title %}メールアドレス変更確認{% endblock title %}

{% block extrahead %}
<style>
table {
  margin-top: 8px;
}
td {
 vertical-align: middle;
}
h3 {
  font-weight: bold;
}
#back_main{
  float: right;
  display: inline-flex;
}
</style>
{% endblock %}

{% block content %}
  <h3 class="page-header">メールアドレス変更確認</h3>
  <div id="back_main" float="right" display="inline">
    <a class="btn btn-default btn-sm" href="{% url 'AIoT:mailaddress' %}">変更ページ</a>
    <a class="btn btn-info btn-sm" href="{% url 'AIoT:datalist' %}">メインページ</a>
  </div><br><br>
  <div id="main"></div>

  <script type="text/javascript">
    change = "{{change}}";
    if(change == "success"){
      d3.select("#main").append("font").attr({
        "display":"inline",
        "float":"left",
        "size": "5px",
        "color": "black",
        "style": "font-weight: bold;",
      }).text("メールアドレスが変更されました");
    } else if(change == "failure") {
      d3.select("#main").append("font").attr({
        "display":"block",
        "float":"left",
        "size": "5px",
        "color": "black",
        "style": "font-weight: bold;",
      }).text("メールアドレスが変更できませんでした");
      d3.select("#main").append("br")
      d3.select("#main").append("font").attr({
        "display":"block",
        "float":"left",
        "size": "5px",
        "color": "black",
        "style": "font-weight: bold;",
      }).text("変更ページより再度変更してください");
    }

  </script>
{% endblock content %}